workflows/tasks/Task 3 Smart Query Routing System using n8n.json
{
  "name": "Smart Query Routing System using n8n",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Y8ufj2IEa91C8bncPHYimT5c6npnd3diAz3pkf09YNY",
          "mode": "list",
          "cachedResultName": "student query sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y8ufj2IEa91C8bncPHYimT5c6npnd3diAz3pkf09YNY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Y8ufj2IEa91C8bncPHYimT5c6npnd3diAz3pkf09YNY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        0
      ],
      "id": "0bf78c5f-7ffb-4ac2-adb3-4f2d99a6e21f",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "b9QuChP3OyZ6utNB",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.Query }}",
        "options": {
          "categories": "urgent, normal"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1.1,
      "position": [
        -176,
        0
      ],
      "id": "6c91fe02-4714-425e-bfd1-12102403dbc4",
      "name": "Sentiment Analysis"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=the organiztion consist the following departrments IT Support\nPlacement Cell,Admin Department,Academic Coordinator\nTrainer / Mentor,LMS Technical Support,Accounts Department,Training Department, so now taking {{ $json.Query }} into consideration classify the query related which department of the organization and give the only department name as output",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        224,
        -192
      ],
      "id": "5fa4422f-5488-41c5-be10-64f047cace9f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -256,
        208
      ],
      "id": "98a1078a-96d7-4392-9cc8-b96f8f0838fa",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JYPrU4SyqhEYTqYz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        288,
        0
      ],
      "id": "d1899ec8-e128-4416-b2bb-62810bdbef1c",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "JYPrU4SyqhEYTqYz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=the organiztion consist the following departrments IT Support\nPlacement Cell,Admin Department,Academic Coordinator\nTrainer / Mentor,LMS Technical Support,Accounts Department,Training Department, so now taking {{ $json.Query }} into consideration classify the query related which department of the organization and give the only department name as output",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        208,
        176
      ],
      "id": "88a9bc6e-fc1b-4e6c-84c6-1d2d31a14460",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        352
      ],
      "id": "90385caf-31b6-4126-b30a-e41abb3ac31b",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "JYPrU4SyqhEYTqYz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "IT Support",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "96636335-6660-4675-b1df-c8d1d70f364a"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IT Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "df3ffefa-6c4e-4e36-af3f-056632e2342f",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Placement Cell",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Placement Cell"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "248b458d-9684-4bf5-80f4-76bab922a2bc",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Admin Department",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Admin Department"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "355f01f0-6cb8-4c69-b6ff-398d0f9a40e5",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Academic Coordinator\t",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Academic  Coordinator"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3d32bab6-9ff1-4c7a-b097-c0221a2e4149",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Trainer / Mentor",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Trainer / Mentor"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "20bed3da-2b03-4fd4-81d4-011028b703bf",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "LMS Technical Support",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LMS Technical Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d14c0d1-8fed-4530-84ae-bb6409ceeddd",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Accounts Department",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Accounts  Department "
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "c9c5bbc6-15c9-461c-add2-9a7d238d3d00",
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "Training Department",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Training  Department "
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        640,
        16
      ],
      "id": "8a953b1b-ea7f-4e67-ba0f-85a15bdb3505",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "it_support@innomatics.in",
        "subject": "Regarding Student Queries Received via Automated System",
        "emailType": "text",
        "message": "=Dear Team  {{ $('Basic LLM Chain').item.json.text }} ,\n\nThis is to inform you that several student queries have been routed to your department through the automated query handling system. These queries require your review and response as per the respective category assigned to your team.\n\nPlease go through the queries you have received and take the necessary action at the earliest.\nYour timely support will ensure smooth resolution for students across branches.\n\nThank you for your cooperation.\n\nRegards,\nInnomatics Query Routing System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        816,
        -288
      ],
      "id": "68b74d77-59c0-4368-a674-f195a57b881b",
      "name": "Send a message",
      "webhookId": "211cde4a-d00b-42a7-9136-87081b9b1ce5",
      "credentials": {
        "gmailOAuth2": {
          "id": "7AeCCpgjJ7BDKUeI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "placement@innomatics.in",
        "subject": "Regarding Student Queries Received via Automated System",
        "emailType": "text",
        "message": "=Dear Team  {{ $('Basic LLM Chain').item.json.text }} ,\n\nThis is to inform you that several student queries have been routed to your department through the automated query handling system. These queries require your review and response as per the respective category assigned to your team.\n\nPlease go through the queries you have received and take the necessary action at the earliest.\nYour timely support will ensure smooth resolution for students across branches.\n\nThank you for your cooperation.\n\nRegards,\nInnomatics Query Routing System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1008,
        -192
      ],
      "id": "20516caf-4053-4118-9da6-49facbe52106",
      "name": "Send a message1",
      "webhookId": "211cde4a-d00b-42a7-9136-87081b9b1ce5",
      "credentials": {
        "gmailOAuth2": {
          "id": "7AeCCpgjJ7BDKUeI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "admin@innomatics.in",
        "subject": "Regarding Student Queries Received via Automated System",
        "emailType": "text",
        "message": "=Dear Team  {{ $('Basic LLM Chain').item.json.text }} ,\n\nThis is to inform you that several student queries have been routed to your department through the automated query handling system. These queries require your review and response as per the respective category assigned to your team.\n\nPlease go through the queries you have received and take the necessary action at the earliest.\nYour timely support will ensure smooth resolution for students across branches.\n\nThank you for your cooperation.\n\nRegards,\nInnomatics Query Routing System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1168,
        -80
      ],
      "id": "5acd0db4-2656-4659-825d-efe98502eea4",
      "name": "Send a message2",
      "webhookId": "211cde4a-d00b-42a7-9136-87081b9b1ce5",
      "credentials": {
        "gmailOAuth2": {
          "id": "7AeCCpgjJ7BDKUeI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "academic@innomatics.in",
        "subject": "Regarding Student Queries Received via Automated System",
        "emailType": "text",
        "message": "=Dear Team  {{ $('Basic LLM Chain').item.json.text }} ,\n\nThis is to inform you that several student queries have been routed to your department through the automated query handling system. These queries require your review and response as per the respective category assigned to your team.\n\nPlease go through the queries you have received and take the necessary action at the earliest.\nYour timely support will ensure smooth resolution for students across branches.\n\nThank you for your cooperation.\n\nRegards,\nInnomatics Query Routing System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1296,
        16
      ],
      "id": "1a5a808e-85cf-4236-88b7-7ed0a4d49298",
      "name": "Send a message3",
      "webhookId": "211cde4a-d00b-42a7-9136-87081b9b1ce5",
      "credentials": {
        "gmailOAuth2": {
          "id": "7AeCCpgjJ7BDKUeI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "trainer@innomatics.in",
        "subject": "Regarding Student Queries Received via Automated System",
        "emailType": "text",
        "message": "=Dear Team  {{ $('Basic LLM Chain').item.json.text }} ,\n\nThis is to inform you that several student queries have been routed to your department through the automated query handling system. These queries require your review and response as per the respective category assigned to your team.\n\nPlease go through the queries you have received and take the necessary action at the earliest.\nYour timely support will ensure smooth resolution for students across branches.\n\nThank you for your cooperation.\n\nRegards,\nInnomatics Query Routing System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1312,
        192
      ],
      "id": "fb18f340-a7f1-49b3-bc0b-13ebde70c67e",
      "name": "Send a message4",
      "webhookId": "211cde4a-d00b-42a7-9136-87081b9b1ce5",
      "credentials": {
        "gmailOAuth2": {
          "id": "7AeCCpgjJ7BDKUeI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "lms_support@innomatics.in ",
        "subject": "Regarding Student Queries Received via Automated System",
        "emailType": "text",
        "message": "=Dear Team  {{ $('Basic LLM Chain').item.json.text }} ,\n\nThis is to inform you that several student queries have been routed to your department through the automated query handling system. These queries require your review and response as per the respective category assigned to your team.\n\nPlease go through the queries you have received and take the necessary action at the earliest.\nYour timely support will ensure smooth resolution for students across branches.\n\nThank you for your cooperation.\n\nRegards,\nInnomatics Query Routing System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1184,
        320
      ],
      "id": "52c60fbf-fab2-46c9-b927-7ba6b27be11d",
      "name": "Send a message5",
      "webhookId": "211cde4a-d00b-42a7-9136-87081b9b1ce5",
      "credentials": {
        "gmailOAuth2": {
          "id": "7AeCCpgjJ7BDKUeI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "accounts@innomatics.in ",
        "subject": "Regarding Student Queries Received via Automated System",
        "emailType": "text",
        "message": "=Dear Team  {{ $('Basic LLM Chain').item.json.text }} ,\n\nThis is to inform you that several student queries have been routed to your department through the automated query handling system. These queries require your review and response as per the respective category assigned to your team.\n\nPlease go through the queries you have received and take the necessary action at the earliest.\nYour timely support will ensure smooth resolution for students across branches.\n\nThank you for your cooperation.\n\nRegards,\nInnomatics Query Routing System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1040,
        448
      ],
      "id": "f9f7c24d-aceb-4ff8-8e2f-c071688e3972",
      "name": "Send a message6",
      "webhookId": "211cde4a-d00b-42a7-9136-87081b9b1ce5",
      "credentials": {
        "gmailOAuth2": {
          "id": "7AeCCpgjJ7BDKUeI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "training@innomatics.in",
        "subject": "Regarding Student Queries Received via Automated System",
        "emailType": "text",
        "message": "=Dear Team  {{ $('Basic LLM Chain').item.json.text }} ,\n\nThis is to inform you that several student queries have been routed to your department through the automated query handling system. These queries require your review and response as per the respective category assigned to your team.\n\nPlease go through the queries you have received and take the necessary action at the earliest.\nYour timely support will ensure smooth resolution for students across branches.\n\nThank you for your cooperation.\n\nRegards,\nInnomatics Query Routing System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        912,
        560
      ],
      "id": "4575b5b3-a13f-4ede-ae3d-a458123efec6",
      "name": "Send a message7",
      "webhookId": "211cde4a-d00b-42a7-9136-87081b9b1ce5",
      "credentials": {
        "gmailOAuth2": {
          "id": "7AeCCpgjJ7BDKUeI",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a5abbd9b-66f4-4d3c-a36b-a6a19d52a382",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4eba01caeb5b4eb6f6ca563f399f4ecc9162a65eb2ab80829efe809cf1413ffc"
  },
  "id": "IuupL8e3W2u634J4",
  "tags": []
}