workflows/tasks/Task 5 _ AI-Driven Assignment Evaluation and Scoring System.json
{
  "name": "Task 5 : AI-Driven Assignment Evaluation and Scoring System",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": false
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        128
      ],
      "id": "61c5ab91-163f-4e99-b65b-7f98a758428b",
      "name": "Telegram Trigger",
      "webhookId": "27a6a2e9-9c97-475a-ab55-55a48033e8e9",
      "credentials": {
        "telegramApi": {
          "id": "SjE9ieXeYOhuXYZI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        144
      ],
      "id": "d74bb197-4874-47cb-af70-8a30a360a466",
      "name": "Get a file",
      "webhookId": "c053d7b8-63ee-4141-8867-8e912d1f37d0",
      "credentials": {
        "telegramApi": {
          "id": "SjE9ieXeYOhuXYZI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "564a698e-7d7d-4810-949a-d6182a8a00d7",
              "leftValue": "={{ $json.fileName }}",
              "rightValue": "=.pdf",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        864,
        480
      ],
      "id": "670d7879-b621-4db6-a611-6aabbfd391b2",
      "name": "If1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        832,
        -96
      ],
      "id": "1a2b4075-54b5-4ec0-9bb9-ad59b3649365",
      "name": "Compression"
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1040,
        -96
      ],
      "id": "7fd79948-eb2d-4020-ab18-dfa29a47c1cf",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1248,
        -96
      ],
      "id": "bd226207-1695-445b-b68d-dd4a1973af22",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{$binary.keys()[0]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1456,
        0
      ],
      "id": "25079bef-b04e-42b6-9581-836837e83310",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1616,
        192
      ],
      "id": "b2ff80c2-13fc-46c8-9c12-ea91bd19aa27",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "JYPrU4SyqhEYTqYz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2432,
        240
      ],
      "id": "233bfa10-8e8a-4351-97c5-86df7b5ce165",
      "name": "Wait",
      "webhookId": "b21f3fd5-7740-41b1-b2ee-e0855284a39d"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "pleace send proper file",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1136,
        768
      ],
      "id": "9e466fd7-ec1d-401a-865d-29c165acbbe5",
      "name": "Send a text message2",
      "webhookId": "ef7bdfb9-71c2-4984-b3f5-7a5bd3f32c24",
      "credentials": {
        "telegramApi": {
          "id": "dddlnjcXSxNKX2b4",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "564a698e-7d7d-4810-949a-d6182a8a00d7",
              "leftValue": "={{ $json.result.file_path }}",
              "rightValue": "=.zip",
              "operator": {
                "type": "string",
                "operation": "endsWith"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        144
      ],
      "id": "85aff9d2-e242-4c49-a13f-034a0dfe1f5e",
      "name": "check file type"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Evaluate this assignment and return the final HTML report:\n\n{{ $json.text }}\n",
        "options": {
          "systemMessage": "You MUST generate the final assignment evaluation report using clean HTML formatting.\n\nUse only these HTML tags: \n<b>, <i>, <u>, <br>, <pre>, <code>, <strong>\n\nDo NOT escape characters. Do NOT use Markdown. Do NOT include backticks.\n\nFORMAT EXACTLY LIKE THIS:\n\n<b>📘 ASSIGNMENT EVALUATION REPORT</b><br><br>\n\n<b>👤 Student:</b> {{studentName}}<br>\n<b>📄 File:</b> {{fileName}}<br><br>\n\n<b>🏆 TOTAL SCORE:</b> {{total_score}} / {{max_score}}<br><br>\n\n<b>📝 SUMMARY:</b><br>\n{{overall_summary}}<br><br>\n\n<b>📚 DETAILED SCORES</b><br><br>\n\nFor each question, use:\n\n<b>Q{{number}}:</b> {{question}}<br><br>\n<b>Answer:</b><br>\n<pre>{{answer}}</pre><br>\n<b>Score:</b> {{score}}/10<br>\n<b>Feedback:</b> {{feedback}}<br>\n<hr>\n\nRules:\n- Only use HTML tags listed above.\n- No markdown. No slashes. No escaping.\n- Make the report clean and readable.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1664,
        0
      ],
      "id": "98cfe732-b1ca-4f89-a17b-ab8ae9539fa3",
      "name": "AI Agent4"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.part }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2256,
        32
      ],
      "id": "2158fc45-46cb-4a0f-b6fb-b8711eff0ac3",
      "name": "Send a text message",
      "webhookId": "19e040f8-796e-4cf4-8929-85a36a5a0e44",
      "credentials": {
        "telegramApi": {
          "id": "SjE9ieXeYOhuXYZI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "raw = _items[0][\"json\"][\"output\"]\n\n# 1. Fix escaped characters\ntext = raw.replace(\"\\\\n\", \"\\n\").replace(\"\\\\t\", \"\").replace(\"\\\\\", \"\")\n\n# 2. Remove ALL HTML tags\nclean = \"\"\ninside_tag = False\nfor ch in text:\n    if ch == \"<\":\n        inside_tag = True\n        continue\n    if ch == \">\":\n        inside_tag = False\n        continue\n    if not inside_tag:\n        clean += ch\n\n# 3. Normalize whitespace\nclean = clean.replace(\"\\r\", \"\")\nclean = \"\\n\".join([line.rstrip() for line in clean.split(\"\\n\")])\n\n# 4. Telegram safe chunking\nMAX = 3500\nparts = [clean[i:i+MAX] for i in range(0, len(clean), MAX)]\n\nreturn [{\"json\": {\"part\": p}} for p in parts]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        0
      ],
      "id": "085e601e-9e1a-48d8-917a-ade71f0f9b4a",
      "name": "Code in Python (Native) (Beta)"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{$binary.keys()[0]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1296,
        464
      ],
      "id": "91126ec1-0139-4d78-95e3-fecf48378566",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1456,
        656
      ],
      "id": "6eb42346-f44b-4ac5-ab47-29a63afa84eb",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "JYPrU4SyqhEYTqYz",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Evaluate this assignment and return the final HTML report:\n\n{{ $json.text }}\n",
        "options": {
          "systemMessage": "You MUST generate the final assignment evaluation report using clean HTML formatting.\n\nUse only these HTML tags: \n<b>, <i>, <u>, <br>, <pre>, <code>, <strong>\n\nDo NOT escape characters. Do NOT use Markdown. Do NOT include backticks.\n\nFORMAT EXACTLY LIKE THIS:\n\n<b>📘 ASSIGNMENT EVALUATION REPORT</b><br><br>\n\n<b>👤 Student:</b> {{studentName}}<br>\n<b>📄 File:</b> {{fileName}}<br><br>\n\n<b>🏆 TOTAL SCORE:</b> {{total_score}} / {{max_score}}<br><br>\n\n<b>📝 SUMMARY:</b><br>\n{{overall_summary}}<br><br>\n\n<b>📚 DETAILED SCORES</b><br><br>\n\nFor each question, use:\n\n<b>Q{{number}}:</b> {{question}}<br><br>\n<b>Answer:</b><br>\n<pre>{{answer}}</pre><br>\n<b>Score:</b> {{score}}/10<br>\n<b>Feedback:</b> {{feedback}}<br>\n<hr>\n\nRules:\n- Only use HTML tags listed above.\n- No markdown. No slashes. No escaping.\n- Make the report clean and readable.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1504,
        464
      ],
      "id": "91125a28-21fb-41b4-b2a8-b97cd599c74d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.part }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2096,
        496
      ],
      "id": "227a6980-f11a-4944-bd4a-290cdb5842c7",
      "name": "Send a text message1",
      "webhookId": "19e040f8-796e-4cf4-8929-85a36a5a0e44",
      "credentials": {
        "telegramApi": {
          "id": "SjE9ieXeYOhuXYZI",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "raw = _items[0][\"json\"][\"output\"]\n\n# 1. Fix escaped characters\ntext = raw.replace(\"\\\\n\", \"\\n\").replace(\"\\\\t\", \"\").replace(\"\\\\\", \"\")\n\n# 2. Remove ALL HTML tags\nclean = \"\"\ninside_tag = False\nfor ch in text:\n    if ch == \"<\":\n        inside_tag = True\n        continue\n    if ch == \">\":\n        inside_tag = False\n        continue\n    if not inside_tag:\n        clean += ch\n\n# 3. Normalize whitespace\nclean = clean.replace(\"\\r\", \"\")\nclean = \"\\n\".join([line.rstrip() for line in clean.split(\"\\n\")])\n\n# 4. Telegram safe chunking\nMAX = 3500\nparts = [clean[i:i+MAX] for i in range(0, len(clean), MAX)]\n\nreturn [{\"json\": {\"part\": p}} for p in parts]\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1856,
        464
      ],
      "id": "c7e771a4-5459-4c62-80e7-13cb681f1a19",
      "name": "Code in Python (Native) (Beta)1"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "check file type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check file type": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Code in Python (Native) (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native) (Beta)": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in Python (Native) (Beta)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Native) (Beta)1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e72d253-a82a-4b0c-9d11-2a42293ed4e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4eba01caeb5b4eb6f6ca563f399f4ecc9162a65eb2ab80829efe809cf1413ffc"
  },
  "id": "wwDympRUrzVpuSf3",
  "tags": []
}